<footer class="footer bg-dark text-light py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Your go-to e-commerce store for the best deals and quality products.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/products" class="text-light">Products</a></li>
                    <li><a href="/contact" class="text-light">Contact</a></li>
                    <li><a href="/faq" class="text-light">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://facebook.com" class="text-light me-2">Facebook</a>
                <a href="https://twitter.com" class="text-light me-2">Twitter</a>
                <a href="https://instagram.com" class="text-light">Instagram</a>
            </div>
        </div>
        <hr class="bg-light">
        <p class="mb-0">
            &copy; <%= new Date().getFullYear() %> Rosie Garage. All Rights Reserved.  
            <br>Developed by <a href="https://www.linkedin.com/in/tyraclemente/" class="text-light">Tyra Clemente</a>
        </p>
    </div>
</footer>
